# Byte-compiled
__pycache__/

# Distribution / packaging
*.egg-info
build/
dist/

# Unit tests
.pytest_cache

# Sphinx documentation
docs/_build/
docs/_templates/
docs/_static/

# IDEs
.vscode

